* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4D97FF;
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fileUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fakeButton {
  color: #4D97FF;
  text-decoration: none;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Manrope', sans-serif;
  border-radius: 5px;
  transition: 0.2s;
}

#fakeButton:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #4D97FF;
  color: white;
  transition: 0.2s;
}

#fakeButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #4588E5;
  color: white;
  transition: 0.1s;
}

h1 {
  color: white;
  font-size: 5em;
}

h2 {
  color: #4588E5;
}

.footer {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
}

.footer a {
  color: white;
}